<section class = "d-flex flex-column justify-content-between align-items-center gap-2">
  <%= image_tag  "icon.png", class: "img-fluid logo" %>
  <div class = "w-100 text-center gap-2">
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-dark btn-lg" %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn-light border-dark btn-lg" %>

  </div>

</section>