/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@media screen and (min-width: 760px) {
  .logo {
    max-width: 40% !important;

    .log-in {
      width: 100%;
      background-color: #3778c2;
      list-style: none;
      padding: 5px;

      .add-category {
        text-decoration: none;
        background-color: #5fb523;
        color: #fff;
        width: 100%;
        text-align: center;
        padding: 10px 10px;
        border-radius: 5px;
        margin-top: 1vw;
        font-size: 2.5vw;
        font-weight: 500;
      }
    }

    .log {
      color: #fff !important;
    }

    .white {
      color: #fff;
    }

    .icon {
      filter: invert(100%);
      width: 30px;
      height: 30px;
    }

    .name-group {
      text-decoration: none;
      color: black;
      font-size: 25px;
      font-weight: 500;
    }
  }
}

.log-in {
  width: 100%;
  background-color: #3778c2;
  list-style: none;
  padding: 5px;
}

.log {
  color: #fff !important;
}

.white {
  color: #fff;
}

.icon {
  filter: invert(100%);
  width: 30px;
  height: 30px;
}

.add-category {
  text-decoration: none;
  background-color: #5fb523;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 1vw;
  font-size: 2.5vw;
  font-weight: 500;
}

.name-group {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 500;
}

.purchase-style {
  font-size: 2.5vw;
}